@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background: url(/src/assets/bg-texture.png);
  background-color: #1f1f38;
}
html {
  scroll-behavior: smooth;
}
